    <% for (let i = 0; i < data.data.length; i++) { %>
        <div class="item" >
        <div class="card text-white" style="background-color: #3B0344; padding: 10px; border-radius: 5px; border:#C500E1 1px solid;">
        <div>
        <% if(data.data[i].series) {%>
        <% if(data.data[i].match_status) {%>
        <div class="row">
        <div class="card-title col-9" style="font-size: 13px;">
        <%= data.data[i].series%>
        </div>
        <div class="card-title text-end col-3 txt-color" style="font-size: 13px;">
        <%= data.data[i].match_status%>
        </div>
        </div>       
        <% } %>
        <% } %>
        <div class="row">
        <div class="card-title col-4">
        <% if(data.data[i].team_a_img) {%>
        <img src="<%=data.data[i].team_a_img%>" style='height: 40px; width: 75px; object-fit: cover;' alt="No Image">
        <% } %>
        <% if(data.data[i].team_a_short) {%>
        <%= data.data[i].team_a_short %>
        <% } %>        
        </div>
        <div class="card-title col-4">
        <img src="/img/VS.png" style='height: 45px; width: 45px;' alt="No Image">
        </div>
        <div class="card-title col-4">
        <% if(data.data[i].team_b_img) {%>
        <img src="<%=data.data[i].team_b_img%>" style='height: 40px; width: 75px; object-fit: cover;' alt="No Image">
        <% } %>
        <% if(data.data[i].team_b_short) {%>
        <%= data.data[i].team_b_short %>
        <% } %>
        </div>
        <div class="col-md-4-4 text-center">
        <% if(data.data[i].match_date) { %>
        <% if(data.data[i].match_time) { %>
        <button type="button">
        <%= data.data[i].match_date%> &nbsp;&nbsp;<%= data.data[i].match_time%>
        </button>
        <% } %>
        <% } %>
        </div>
        </div>
        </div>
        </div>
        </div>
        <% } %>  
        </div>
      <!-- RECENT MATCH CARD VIEW -->  


      <% if (Array.isArray(data.data) && data.data.length > 0) { %>
        <% data.data.forEach(dataItem => { %>
          <div class="row row_branchen" style="gap: 10px 0;">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="card text-white cardView">
                <div class="row">
                    <div class="card-title col-12" style="font-weight:bold;color:white;display:flex;">
                      <%= dataItem.series %>
                    </div>
                </div>
                <div class="row">
                  <div class="card-title col-12" style="font-size: 10px;">
                    Venue:
                  </div>
                </div>
                <div class="row">
                  <div class="card-title col-8" style="font-size: 15px;">
                    <%= dataItem.match_time %>
                  </div>
                  <div class="card-title col-4 text-right" style="font-size: 15px;">
                    <%= dataItem.matchs %>
                  </div>
                </div>
                <div class="row">
                  <div class="card-title col-4">
                    <img src="<%= dataItem.team_a_img %>" class="img-icon" alt="Team A Image">
                    <%= dataItem.team_a_short %>
                  </div>
                  <div class="card-title col-4 text-center">
                    <img src="/img/vs.png" style="height:30px;" alt="VS Image">
                  </div>
                  <div class="card-title col-4 text-right">
                    <%= dataItem.team_b_short %>
                    <img src="<%= dataItem.team_b_img %>" class="img-icon" alt="Team B Image">
                  </div>
                </div>
                <div class="row">
                  <div class="card-title col-6" style="font-size: 15px;">
                    <%= dataItem.team_a_scores %> <%= dataItem.team_a_over %>
                  </div>
                  <div class="card-title col-6" style="font-size: 15px; text-align:right;">
                    <%= dataItem.team_b_scores %> <%= dataItem.team_b_over %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center" style='background-color:#200125;'>
                    <p class='card-text' style="color:#FFD600;"> <%= dataItem.result %> </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% }); %>
      <% } else { %>
        <p>No news available</p>
      <% } %>