<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<footer class="text-center text-white" style="background-color: #C500E1;">
    <div class="container">
        <div class="row text-center d-flex justify-content-center pt-5">
          <div class="col-sm-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/live" style="text-decoration: none;" class="text-white">Live</a>
            </h6>
          </div>
          <div class="col-sm-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/series" style="text-decoration: none;" class="text-white">Series</a>
            </h6>
          </div>
          <div class="col-sm-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/news" style="text-decoration: none;" class="text-white">News</a>
            </h6>
          </div>
          <div class="col-sm-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/recent" style="text-decoration: none;" class="text-white">Recent Matches</a>
            </h6>
          </div>
          <div class="col-sm-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/upcoming" style="text-decoration: none;" class="text-white">UpComing Matches</a>
            </h6>
          </div>
          <div class="col-sm-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/ranking" style="text-decoration: none;" class="text-white">Ranking</a>
            </h6>
          </div>
        </div>
        <div class="my-2"></div>
      <section class="mb-2">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p>
                Get Cricket Scores Before TV! <br>
            </p>
          </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2024 Copyright:
      <a class="text-white" href="#">LIVE SCORE</a>
    </div>
  </footer>
</html>