<div class="card1 col-lg-6 col-md-12 col-sm-12" style="margin-left:0px;padding:0px 5px">
            <div class="card-new-data" style="box-shadow: 0px 0px 30px #0000001A;border-radius:10px;padding:0px 0px">
            <div class="card-body" style="padding:0rem 0rem;gap:0px !important">
    
          
              <div style="justify-content: start;display: flex;align-items: center;padding:5px 10px;background:#4539ff"><span style="font-size: 20px;color:#ffff;"> &nbsp; &nbsp;  Rajasthan Royals  Squad  </span></div>
              <div>
             <table>
                 <tbody><tr class="bg-row-tr" style="background:#f5f5f5;color:#4539ff"><th style="width:20%"></th><th style="width:45%">Player Name</th><th style="width:35%">Position</th></tr>

                                    <tr>
                   <td><img src="http://cricketchampion.co.in/webroot/img/players/573932142_player.png" style="width: 40px; height:40px;border-radius: 100%;"></td>
                    <td> <a href="player_profile?player=2237" style="text-decoration: none;color:#4539ff;font-size:14px">Tom Kohler-Cadmore</a></td>
                    <td style="font-size:14px">Wicketkeeper</td></tr> 
                   
                                      <tr>
                   <td><img src="http://cricketchampion.co.in/webroot/img/players/1728691480_player.png" style="width: 40px; height:40px;border-radius: 100%;"></td>
                    <td> <a href="player_profile?player=2337" style="text-decoration: none;color:#4539ff;font-size:14px">Yuzvendra Chahal</a></td>
                    <td style="font-size:14px">Bowler</td></tr> 
                   
                                      <tr>
                   <td><img src="http://cricketchampion.co.in/webroot/img/players/1871804095_player.png" style="width: 40px; height:40px;border-radius: 100%;"></td>
                    <td> <a href="player_profile?player=2421" style="text-decoration: none;color:#4539ff;font-size:14px">Donovan Ferreira</a></td>
                    <td style="font-size:14px">Wicketkeeper</td></tr> 
                   
                                      <tr>
                   <td><img src="http://cricketchampion.co.in/webroot/img/players/616436470_player.png" style="width: 40px; height:40px;border-radius: 100%;"></td>
                    <td> <a href="player_profile?player=2598" style="text-decoration: none;color:#4539ff;font-size:14px">Adam Zampa</a></td>
                    <td style="font-size:14px">Bowler</td></tr> 
                   
                                      <tr>
                   <td><img src="http://cricketchampion.co.in/webroot/img/players/1163892974_player.png" style="width: 40px; height:40px;border-radius: 100%;"></td>
                    <td> <a href="player_profile?player=2693" style="text-decoration: none;color:#4539ff;font-size:14px">Rovman Powell</a></td>
                    <td style="font-size:14px">Batsman</td></tr> 
                   
                                      <tr>
                   <td><img src="http://cricketchampion.co.in/webroot/img/players/604540608_player.png" style="width: 40px; height:40px;border-radius: 100%;"></td>
                    <td> <a href="player_profile?player=2710" style="text-decoration: none;color:#4539ff;font-size:14px">Keshav Maharaj</a></td>
                    <td style="font-size:14px">Bowler</td></tr> 
                   
                                      <tr>
                   <td><img src="http://cricketchampion.co.in/webroot/img/players/1761408959_player.png" style="width: 40px; height:40px;border-radius: 100%;"></td>
                    <td> <a href="player_profile?player=2752" style="text-decoration: none;color:#4539ff;font-size:14px">Avesh Khan</a></td>
                    <td style="font-size:14px">Bowler</td></tr> 
                   
                                      <tr>
                   <td><img src="http://cricketchampion.co.in/webroot/img/players/1332728370_player.png" style="width: 40px; height:40px;border-radius: 100%;"></td>
                    <td> <a href="player_profile?player=2776" style="text-decoration: none;color:#4539ff;font-size:14px">Sanju Samson</a></td>
                    <td style="font-size:14px">Wicketkeeper</td></tr> 
                   
                                      <tr>
                   <td><img src="http://cricketchampion.co.in/webroot/img/players/263571076_player.png" style="width: 40px; height:40px;border-radius: 100%;"></td>
                    <td> <a href="player_profile?player=2787" style="text-decoration: none;color:#4539ff;font-size:14px">Ravichandran Ashwin</a></td>
                    <td style="font-size:14px">Allrounder</td></tr> 
                   
                                      <tr>
                   <td><img src="http://cricketchampion.co.in/webroot/img/players/234424330_player.png" style="width: 40px; height:40px;border-radius: 100%;"></td>
                    <td> <a href="player_profile?player=3053" style="text-decoration: none;color:#4539ff;font-size:14px">Sandeep Sharma</a></td>
                    <td style="font-size:14px">Bowler</td></tr> 
                   
                                      <tr>
                   <td><img src="http://cricketchampion.co.in/webroot/img/players/1211865175_player.png" style="width: 40px; height:40px;border-radius: 100%;"></td>
                    <td> <a href="player_profile?player=3131" style="text-decoration: none;color:#4539ff;font-size:14px">Jos Buttler</a></td>
                    <td style="font-size:14px">Wicketkeeper</td></tr> 
                   
                                      <tr>
                   <td><img src="http://cricketchampion.co.in/webroot/img/players/2066006286_player.png" style="width: 40px; height:40px;border-radius: 100%;"></td>
                    <td> <a href="player_profile?player=3133" style="text-decoration: none;color:#4539ff;font-size:14px">Yashasvi Jaiswal</a></td>
                    <td style="font-size:14px">Batsman</td></tr> 
                   
                                      <tr>
                   <td><img src="http://cricketchampion.co.in/webroot/img/players/1330261166_player.png" style="width: 40px; height:40px;border-radius: 100%;"></td>
                    <td> <a href="player_profile?player=3134" style="text-decoration: none;color:#4539ff;font-size:14px">Shimron Hetmyer</a></td>
                    <td style="font-size:14px">Batsman</td></tr> 
                   
                                      <tr>
                   <td><img src="http://cricketchampion.co.in/webroot/img/players/1229665919_player.png" style="width: 40px; height:40px;border-radius: 100%;"></td>
                    <td> <a href="player_profile?player=3135" style="text-decoration: none;color:#4539ff;font-size:14px">Riyan Parag</a></td>
                    <td style="font-size:14px">Allrounder</td></tr> 
                   
                                      <tr>
                   <td><img src="http://cricketchampion.co.in/webroot/img/players/260834618_player.png" style="width: 40px; height:40px;border-radius: 100%;"></td>
                    <td> <a href="player_profile?player=3137" style="text-decoration: none;color:#4539ff;font-size:14px">Trent Boult</a></td>
                    <td style="font-size:14px">Bowler</td></tr> 
                   
                                      <tr>
                   <td><img src="http://cricketchampion.co.in/webroot/img/players/281434671_player.png" style="width: 40px; height:40px;border-radius: 100%;"></td>
                    <td> <a href="player_profile?player=3153" style="text-decoration: none;color:#4539ff;font-size:14px">Navdeep Saini</a></td>
                    <td style="font-size:14px">Bowler</td></tr> 
                   
                                      <tr>
                   <td><img src="http://cricketchampion.co.in/webroot/img/players/308678164_player.png" style="width: 40px; height:40px;border-radius: 100%;"></td>
                    <td> <a href="player_profile?player=3166" style="text-decoration: none;color:#4539ff;font-size:14px">Kuldeep Sen</a></td>
                    <td style="font-size:14px">Bowler</td></tr> 
                   
                                      <tr>
                   <td><img src="http://cricketchampion.co.in/webroot/img/players/1453166981_player.png" style="width: 40px; height:40px;border-radius: 100%;"></td>
                    <td> <a href="player_profile?player=4640" style="text-decoration: none;color:#4539ff;font-size:14px">Nandre Burger</a></td>
                    <td style="font-size:14px">Bowler</td></tr> 
                   
                                      <tr>
                   <td><img src="http://cricketchampion.co.in/webroot/img/players/2016718621_player.png" style="width: 40px; height:40px;border-radius: 100%;"></td>
                    <td> <a href="player_profile?player=5744" style="text-decoration: none;color:#4539ff;font-size:14px">Dhruv Jurel</a></td>
                    <td style="font-size:14px">Wicketkeeper</td></tr> 
                   
                                      <tr>
                   <td><img src="http://cricketchampion.co.in/webroot/img/players/644043903_player.png" style="width: 40px; height:40px;border-radius: 100%;"></td>
                    <td> <a href="player_profile?player=6989" style="text-decoration: none;color:#4539ff;font-size:14px">Kunal Singh Rathore</a></td>
                    <td style="font-size:14px">Batsman</td></tr> 
                   
                                      <tr>
                   <td><img src="http://cricketchampion.co.in/webroot/img/players/714208943_player.png" style="width: 40px; height:40px;border-radius: 100%;"></td>
                    <td> <a href="player_profile?player=9103" style="text-decoration: none;color:#4539ff;font-size:14px">Shubham Dubey</a></td>
                    <td style="font-size:14px">Bowler</td></tr> 
                   
                                      <tr>
                   <td><img src="http://cricketchampion.co.in/webroot/img/players/1910908198_player.png" style="width: 40px; height:40px;border-radius: 100%;"></td>
                    <td> <a href="player_profile?player=9104" style="text-decoration: none;color:#4539ff;font-size:14px">Abid Mushtaq</a></td>
                    <td style="font-size:14px">Bowler</td></tr> 
                   
                                      <tr>
                   <td><img src="http://cricketchampion.co.in/webroot/img/players/2039442015_player.png" style="width: 40px; height:40px;border-radius: 100%;"></td>
                    <td> <a href="player_profile?player=9190" style="text-decoration: none;color:#4539ff;font-size:14px">Tanush Kotian</a></td>
                    <td style="font-size:14px">Allrounder</td></tr> 
                   
                                 </tbody></table>
                </div>

            </div>
            </div>
            </div>