        <% if (match.data.last36ball === '0') { %>
            <span style="border-radius: 20px;" class="status-0"><%= match.data.last36ball%></span>
        <% } else if (match.data.last36ball === '1') { %>
            <span style="border-radius: 20px;" class="status-1"><%= match.data.last36ball%></span>
        <% } else if (match.data.last36ball === '2') { %>
            <span style="border-radius: 20px;" class="status-2"><%= match.data.last36ball%></span>
        <% } else if (match.data.last36ball === '4') { %>
            <span style="border-radius: 20px;" class="status-4"><%= match.data.last36ball%></span>
        <% } else if (match.data.last36ball === '6') { %>
            <span style="border-radius: 20px;" class="status-6"><%= match.data.last36ball%></span>
        <% } else if (match.data.last36ball === 'w') { %>
            <span style="border-radius: 20px;" class="status-w"></span>
        <% } %>

        <% match.data.last36ball.forEach(ball => { %>
            <% if (ball.status === 0) { %>
                <span style="border-radius: 20px;" class="status-0"><%= ball.data %></span>
            <% } else if (ball.status === 1) { %>
                <span style="border-radius: 20px;" class="status-1"><%= ball.data %></span>
            <% } else if (ball.status === 4) { %>
                <span style="border-radius: 20px;" class="status-4"><%= ball.data %></span>
            <% } else if (ball.status === 6) { %>
                <span style="border-radius: 20px;" class="status-6"><%= ball.data %></span>
            <% } else if (ball.status === 'w') { %>
                <span style="border-radius: 20px;" class="status-w"><%= ball.data %></span>
            <% } %>
        <% }) %>

        <% if (match.data.last36ball && Array.isArray(match.data.last36ball) && match.data.last36ball.length > 0) { %>
            <% match.data.last36ball.forEach(ball => { %>
                <% let statusClass = ''; %>
                <% switch (ball.status) { %>
                    <% case 0: %>
                        <% statusClass = 'status-0'; %>
                        <% break; %>
                    <% case 1: %>
                        <% statusClass = 'status-1'; %>
                        <% break; %>
                    <% case 4: %>
                        <% statusClass = 'status-4'; %>
                        <% break; %>
                    <% case 6: %>
                        <% statusClass = 'status-6'; %>
                        <% break; %>
                    <% case 'w': %>
                        <% statusClass = 'status-w'; %>
                        <% break; %>
                    <% default: %>
                        <% statusClass = 'unknown-status'; %>
                <% } %>
                <span style="border-radius: 20px;" class="<%= statusClass %>"><%= ball.data %></span>
            <% }) %>
        <% } else { %>
            No Over available
        <% } %>
        
        <% if (match.data.last36ball && Array.isArray(match.data.last36ball)) { %>
            <% match.data.last36ball.forEach(ball => { %>
                <% if (ball.status === 0) { %>
                    <span style="border-radius: 20px;" class="status-0"><%= ball.data %></span>
                <% } else if (ball.status === 1) { %>
                    <span style="border-radius: 20px;" class="status-1"><%= ball.data %></span>
                <% } else if (ball.status === 4) { %>
                    <span style="border-radius: 20px;" class="status-4"><%= ball.data %></span>
                <% } else if (ball.status === 6) { %>
                    <span style="border-radius: 20px;" class="status-6"><%= ball.data %></span>
                <% } else if (ball.status === 'w') { %>
                    <span style="border-radius: 20px;" class="status-w"><%= ball.data %></span>
                <% } %>
            <% }) %>
        <% } else { %>
            No Over available
        <% } %>


        <% Object.keys(match.data.last36ball).forEach(status => { %>
            <% let ballData = match.data.last36ball[status]; %>
            <% if (status === '0') { %>
                <span style="border-radius: 20px;" class="status-0"><%= ballData %></span>
            <% } else if (status === '1') { %>
                <span style="border-radius: 20px;" class="status-1"><%= ballData %></span>
            <% } else if (status === '2') { %>
                <span style="border-radius: 20px;" class="status-2"><%= ballData %></span>
            <% } else if (status === '4') { %>
                <span style="border-radius: 20px;" class="status-4"><%= ballData %></span>
            <% } else if (status === '6') { %>
                <span style="border-radius: 20px;" class="status-6"><%= ballData %></span>
            <% } else if (status === 'w') { %>
                <span style="border-radius: 20px;" class="status-w"></span>
            <% } %>

        <% })else { %>
            No Over available
        <% } %>

